In [1]:
# Preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_excel (r'Superstore.xls')

## Task 9:
### Finding out the customer who bought most and least from us in terms of value

#### a.) Create a dataset containing name and sales generated by him

In [2]:
sales_data = data.groupby(['Customer Name'])['Sales'].sum()
sales_data = pd.DataFrame(sales_data)
sales_data = sales_data.reset_index()
print("Sales Data")
sales_data

Sales Data

            Customer Name      Sales
0           Aaron Bergman    886.156
1           Aaron Hawkins   1744.700
2          Aaron Smayling   3050.692
3         Adam Bellavance   7755.620
4               Adam Hart   3250.337
5      Adam Shillingsburg   3255.310
6           Adrian Barton  14473.571
7             Adrian Hane   1735.514
8            Adrian Shami     58.820
9             Aimee Bixby    966.710
10            Alan Barnes   1113.838
11         Alan Dominguez   6106.880
12            Alan Haines   1587.452
13             Alan Hwang   4805.344
14      Alan Schoenberger   4260.784
15           Alan Shonely    584.608
16   Alejandro Ballentine    914.532
17        Alejandro Grove   2582.898
18       Alejandro Savely   3214.236
19    Aleksandra Gannaway    367.548
20             Alex Avila   5563.560
21           Alex Grayson    660.972
22           Alex Russell   1055.694
23         Alice McCarthy    814.012
24           Allen Armold   1056.390
25         Allen Goldenen    200.945
26       Allen Rosenblatt   2236.128
27          Alyssa Crouse    925.800
28            Alyssa Tate   1171.814
29                Amy Cox   5527.846
..                    ...        ...
763         Tony Molinari   1094.678
764            Tony Sayre   2243.274
765       Tracy Blumstein   4737.486
766         Tracy Collins    742.558
767         Tracy Hopkins   4234.096
768          Tracy Poddar   1936.640
769             Tracy Zic   1707.286
770        Troy Blackwell   1387.559
771          Troy Staebel   2820.424
772           Trudy Brown   2797.668
773          Trudy Glocke   2074.661
774         Trudy Schmidt   3368.094
775     Valerie Dominguez   6442.254
776       Valerie Mitchum   2454.866
777      Valerie Takahito   1736.596
778        Vicky Freymann    847.944
779          Victor Preis    993.902
780      Victoria Brennan   2005.596
781      Victoria Pisteka   3360.526
782       Victoria Wilson   6134.038
783        Vivek Gonzalez    846.010
784           Vivek Grady    427.372
785      Vivek Sundaresam   1055.981
786         Vivian Mathis    380.690
787         William Brown   6160.102
788          Xylona Preis   2374.658
789         Yana Sorensen   6720.444
790        Yoseph Carroll   5454.350
791      Zuschuss Carroll   8025.707
792    Zuschuss Donatelli   1493.944

[793 rows x 2 columns]

#### b.) Find out the customer name and sales, who bought maximum in value

In [3]:
most_sales_customer_sale = sales_data['Sales'].max()
most_sales_customer_index = sales_data['Sales'].idxmax()
most_sales_customer = sales_data.iloc[most_sales_customer_index]
print("Information of the customer who has bought the most in terms of value.")
most_sales_customer

Information of the customer who has bought the most in terms of value.

Customer Name    Sean Miller
Sales                  25043
Name: 686, dtype: object

In [4]:
least_sales_customer_sale = sales_data['Sales'].min()
least_sales_customer_index = sales_data['Sales'].idxmin()
least_sales_customer = sales_data.iloc[least_sales_customer_index]
print("Information of the customer who has bought the least in terms of value.")
least_sales_customer

Information of the customer who has bought the least in terms of value.

Customer Name    Thais Sissman
Sales                    4.833
Name: 737, dtype: object